.form {
  width: 700px;
  background-size:40px 60px;
}

.text {
  font-size: 1.6rem;
  font-weight: 300;
}

.container {
  background-color: #17212d;
}

.btn {
  color: #ffffff;
  background-color: #004eeb;
}