.App {
  text-align: center;
}



.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.about {
  max-width: 50rem;
  margin: 0 auto;
}

.about-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 0.5rem;
  opacity: 0.7;
}

.about-text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6rem;
}

.about-test {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0.5rem;
}

.about-span {
  font-weight: 400;
}

/* Button */
.btn-sign {
  background-color: #004eeb;
  color: #ffff;
  border: none;
}

.btn-sign:hover {
  background-color: #ffff;
  color: #004eeb;
  border: 1px solid #004eeb;
}

/* Navlinks */

.nav-btn-sign,
.nav-btn-register {
  border: 1px solid #004eeb;
  cursor: pointer;
  margin: 0.5rem;
  color: #004eeb;
}

.nav-btn-sign {
  color: #ffff;
  background-color: #004eeb;
}

.nav-btn-sign:hover {
  background-color: #ffff;
  color: #004eeb;
}

.nav-btn-register:hover {
  color: #ffff;
  background-color: #004eeb;
}
