body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f6f8;
  /* background: linear-gradient(90deg, #004eeb34 0%, #f0f0f0 100%); */
}

button {
  cursor: pointer;
}
